<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor = 'grey'>
    <!-- <div>
        bgcolor = 'grey'
    </div> -->
    <div>
        <h1>Welcome to the Website</h1>
    </div>
    <div>
        <ol> 
            <li><a href="app2/signup">signup</a></li>
            
            <li><a href="app3/login">login</a></li>

            <li><a href="app4/logout">logout</a></li>

        </ol>
        
    </div>
</body>
</html>

